body {
    background-color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}

#sbr1 {
    height: 200px;
}

#playerInfo {
    height: 85px;
    margin: 9px;
  
}

#player {
    height: 55px;
    margin-top: 12px;
    margin-left: 34px;
    margin-right: 88px;
    background-image: url("../images/img-3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#opponent {
    height:57px;
    margin-top: 12px;
    margin-left: 41px;
    margin-right: 79px;
    background-image: url("../images/img-3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#sbr2 {
    height:202px;
}

#countBox {
    height: 500px;
}

#numRounds {
    height: 180px;
}

#numLeft {
    margin-top: 12px;
    height:57px;
    margin-left: 41px;
    margin-right: 79px;
    background-image: url("../images/img-3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

#oppInfo {
    height: 85px;
}

#rounds {
   height:105px;
}

#score1 {
    height: 150px;
    margin-left: 27px;
}

#pWins {
    height:65px;
    background-image: url("../images/img-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 28px;
}

#oWins {
    height:65px;
    background-image: url("../images/img-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 28px;
}

#numLeft, #oWins, #pWins {
    visibility: hidden;
}

#sbr3 {
    height: 65px;
}

#startGame {
    height: 80px;
}

#bg {
    background-image: url("../images/img-4.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 712px;
    
}

.btn.btn-primary.btn-lg {
    margin-left: 104px;
    background-color: gray;
    border-color: grey;
    width: 143px;
}

.float-right {
    height: 100px;
}

#deck {
    height: 146px;
}

#oArea {
    height: 150px;
}

.card {
    width: 111px;
    margin-left: 78px;
}

#card-bodyP1, #card-bodyP2, #card-bodyP3, #card-bodyP4, #card-bodyP5 {
    display: flex;
    flex-wrap: nowrap;
    height:162px;
    background-image: url("../images/img-9.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#card-bodyP1 img, #card-bodyP2 img, #card-bodyP3 img, #card-bodyP4 img, #card-bodyP5 img {
    max-width:100%;
    border: 1px solid #333333;
    border-radius: 5px;
}

.card-body1 {
    display: flex;
    flex-wrap: nowrap;
    height:150px;
    background-image: url("../images/img-7-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#play {
    height: 300px;
    width: 1018px;
}

#deck1 {
    height: 200px;
}

#pArea {
    height: 150px;
    margin-top: 35px;
}

.oCards {
    margin-top: 45px;
    height:150px;
}

.oCards img {
    width: 100%;
    border: 1px solid #333333;
    border-radius: 5px;
}

#pCard1, #pCard2, #pCard3, #pCard4, #pCard5, #oCard1, #oCard2, #oCard3, #oCard4, #oCard5 {
    display: none;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2.5px;
    border-top-right-radius: 15px;
    text-align: center;
    border-right: 1px solid #333333;
    border-top: 1px solid #333333;
    background-color: #ffffffaf;
    font-weight: bold;
    font-size: 32px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 2.5px;
    border-bottom-left-radius: 15px;
    text-align: center;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    background-color: #ffffffaf;
    font-weight: bold;
    font-size: 32px;
}

.gameCard {
    border-radius: 5px;
    filter: grayscale(75%);
}

.gameCard:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px #333333;
    filter: grayscale(0%);
    transition: filter 250ms;
}

.card-body {
    height:162px;
    background-image: url("../images/img-9.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#modal {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 270px 179px;
    padding: 15px;
    border: 1px solid #888;
    width: 50%;
    overflow: auto;
}

#joinGame {
    text-align: center;
    color: #222222;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.modal-content img {
    filter: grayscale(100%);
    width: 8%;
}

#username {
    padding: 5px;
    background-position: 10px 10px;
}

#join {
    margin-top: 10px;
    width: fit-content;
}

#pScore, #oScore {
    font-weight: bold;
}

.modal-content-playing {
    background-color: #fefefe;
    margin: 255px 345px;
    padding: 15px;
    border: 1px solid #888;
    width: 25%;
    overflow: auto;
}

.modal-content-playing h4 {
    font-weight: bold;
    float: none;
}

.modal-content-playing img {
    filter: grayscale(100%);
    width: 25%;
    margin-left: 35%;
    margin-top: 2%;
}

#youtube {
    background-image: url(../images/img-10.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 290px;
    position: absolute;
    bottom: 0;
}

#trailerVideo {
    width: 90%;
    height: 90%;
}